// INTER GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
// GLOBAL SASS FILES
@import './variables.scss';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--main-background);
  color: var(--text-color);

  &.light {
    --main-color: #ADFF00;
    --text-color: #000;
    --main-background: #fff;
    --secondary-background: #ccc;
  }

  &.dark {
    --main-color: #ADFF00;
    --text-color: #fff;
    --main-background: #000;
    --secondary-background: #0E0E0E;
  }
}

#en {
  text-align: left !important;
  direction: ltr;
}

#ar {
  text-align: right !important;
  direction: rtl;
}